@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject Traducir.Web.ViewModels.LayoutViewModel viewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    @{
        var siteName = Configuration.GetValue<string>("FRIENDLY_NAME");
    }
    <title>traducir.win - @siteName</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" use-static-domain />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/spinner.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" use-static-domain />
    </environment>

    <script defer src="~/lib/fontawesome.js" asp-append-version="true" use-static-domain></script>
</head>
<body>
    <mini-profiler />

    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog w-95 mw-100" role="document">
            <div class="modal-content">
                <!-- the .setContent() method will update this element's HTML -->
            </div>
        </div>
    </div>
    <div class="loading" id="spinner" style='display:none'>Loading...</div>
    <div id="root">
        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand d-none d-lg-block" href="/">@viewModel.ConfigName Translations 🦄 @viewModel.UserInfo</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="ml-auto navbar-nav">
                        <li class="nav-item d-lg-none">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a href="https://github.com/g3rv4/Traducir" target="_blank" class="nav-link">Source Code</a>
                        </li>
                        <li class="nav-item dropdown d-none d-lg-block">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Database
                            </a>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="https://db.traducir.win">Access the Database</a>
                                <a class="dropdown-item" href="/backups">Download Backups</a>
                                <a class="dropdown-item" href="https://github.com/g3rv4/Traducir/blob/master/docs/USING_REDASH.md">Instructions</a>
                            </div>
                        </li>
                        @if (viewModel.IsLoggedIn)
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My account
                                </a>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="@Url.Action("SuggestionsByUser", "Users", new { userId = viewModel.UserId})">My Suggestions</a>
                                    <a class="dropdown-item" href="@Url.Action("Notifications", "Users")">My Notifications</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="/users" class="nav-link">Users</a>
                        </li>
                        <li class="nav-item">
                            @if (viewModel.IsLoggedIn)
                            {
                                <a href="/logout" class="nav-link js-add-return-url">Log out</a>
                            }
                            else
                            {
                                <a href="/login" class="nav-link js-add-return-url">Log in!</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @RenderBody()
    </div>

    <script src="~/lib/bootstrap-native/js/bootstrap-native-v4.min.js" asp-append-version="true" use-static-domain></script>
    <script src="~/lib/require.2.3.6.min.js" asp-append-version="true" use-static-domain></script>
    <script src="~/js/dist/app.js" asp-append-version="true" use-static-domain></script>
    <script>
        require(["app"], app => {
            app.init('@GetAntiXsrfRequestToken()');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
