@using System.Linq
@using Traducir.Core.Helpers
@using Traducir.Core.Models.Enums
@using Traducir.Web.ViewModels.Users

@model SuggestionsByUserViewModel

<div class="container">
    <div class="row text-center mt-3">
        <div class="col d-none d-lg-block">
            <div class="btn-group" role="group">
                <a href="@Url.Action("SuggestionsByUser", "Users", new { userId = Model.UserId})" class="btn btn-outline-info nav-link mx-1 @(Model.CurrentState == null ? "active" : null)">All</a>
                @foreach (var state in SuggestionsByUserViewModel.SuggestionStatesForFilters)
                {
                    <a href="@Url.Action("SuggestionsByUser", "Users", new { userId = Model.UserId, state = (int)state})" class="btn btn-outline-info nav-link mx-1 @(state==Model.CurrentState ? "active" : null)">@state.DisplayName()</a>
                }
            </div>
        </div>
    </div>

    @if (Model.Suggestions.Any())
    {
        foreach (var suggestion in Model.Suggestions)
        {
            <div class="mt-5">
                <div>
                    <span class="font-weight-bold">Original String:</span> <pre class="d-inline">@suggestion.OriginalString</pre>
                </div>
                <div>
                    <span class="font-weight-bold">Suggestion:</span> <pre class="d-inline">@suggestion.Suggestion</pre>
                </div>
                <div>
                    <span class="font-weight-bold">State:</span> <span class="badge @SuggestionsByUserViewModel.BadgeClassForState(suggestion.State)">@suggestion.State.DisplayName()</span>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>User</th>
                            <th>Comment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var history in suggestion.Histories)
                        {
                            <tr>
                                <td>
                                    @history.HistoryType.DisplayName()
                                </td>
                                <td>
                                    <a href="https://@Model.SiteDomain/users/@Model.UserId"
                                       target="_blank"
                                       title="at @suggestion.CreationDate.ToIsoFormat() UTC">
                                        @history.UserName
                                    </a>
                                </td>
                                <td>
                                    @history.Comment
                                </td>
                                <td>
                                    @history.CreationDate.ToIsoFormat()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col">
                <div class="mx-auto mt-5 w-50 p-3 text-center">
                    <span>No results (sad trombone)</span>
                </div>
            </div>
        </div>
    }
</div>

