@using Traducir.Core.Helpers
@using Traducir.Core.Models.Enums
@model Traducir.Web.ViewModels.Users.UserSummaryViewModel
@{
    var user = Model.User;
}
<tr data-user-id="@user.Id">
    <td>
        <a href="@Model.UserProfileLink" target="_blank">
            @user.DisplayName @(user.IsModerator ? "♦" : null)
        </a>
    </td>
    <td>@user.UserType.ToDisplayString()</td>
    <td>@if (Model.CurrentUserCanManageUsers)
        {
            <div class="btn-group" role="group">
                <a href="/suggestions/@user.Id" class="btn btn-sm btn-primary">view suggestions</a>
                @if(user.UserType == UserType.User)
                {
                    <button type="button" class="btn btn-sm btn-warning" data-change-to-user-type="@((int)UserType.TrustedUser)">
                        Make trusted user
                    </button>
                }
                @if(user.UserType == UserType.Banned)
                {
                    <button type="button" class="btn btn-sm btn-warning" data-change-to-user-type="@((int)UserType.User)">
                        Lift Ban
                    </button>
                }
                @if(user.UserType == UserType.TrustedUser)
                {
                    <button type="button" class="btn btn-sm btn-danger" data-change-to-user-type="@((int)UserType.User)">
                        Make regular user
                    </button>
                }
                @if(Model.UserCanBeBanned)
                {
                    <button type="button" class="btn btn-sm btn-danger" data-change-to-user-type="@((int)UserType.Banned)">
                        Ban User
                    </button>
                }
            </div>
        }
    </td>
</tr>