@using Traducir.Core.Models.Enums
@model Traducir.Web.Net.ViewModels.Home.EditStringViewModel

<div id="string-editor" data-string-id="@Model.String.Id">
<div>
    <span class="font-weight-bold">Key: </span>
    <a href="https://www.transifex.com/@Model.TransifexPath/$?q=key%3A@(Model.String.Key)-" target="_blank">@Model.String.Key</a>
</div>
<div>
    <span class="font-weight-bold">This string needs a new translation ASAP: </span>
    @if (!Model.UserCanSuggest)
    {
        <span>@(Model.String.IsUrgent ? "Yes" : "No")</span>
    }
    else if (Model.String.IsUrgent)
    {
        <span>Yes <button class="btn btn-sm btn-warning" data-string-action="manage-urgency" data-string-action-argument="make-non-urgent">Mark as non urgent</button></span>
    }
    else
    {
        <span>No <button class="btn btn-sm btn-danger" data-string-action="manage-urgency" data-string-action-argument="make-urgent">Mark as urgent</button></span>
    }
</div>
@if (Model.UserCanReview)
{
    <div>
        <label>
            <span class="font-weight-bold">Raw string?: </span> <input type="checkbox" id="is-raw-string" />
        </label>
    </div>
}
<div>
    <span class="font-weight-bold">Original String: </span> <pre class="d-inline" id="original-string">@Model.String.OriginalString</pre>
</div>
@if (Model.UserIsLoggedIn)
{
    <div>
        <button type="button" class="btn btn-sm btn-primary" data-string-action="copy-as-suggestion" data-string-action-target="original-string">
            Copy as suggestion
        </button>
    </div>
}
@if (Model.String.Variant != null)
{
    <div>
        <span class="font-weight-bold">Variant: </span>@Model.String.Variant.Replace("VARIANT: ", "")
    </div>
}
<div>
    <span class="font-weight-bold">Current Translation:</span>
    @if (Model.String.Translation == null)
    {
        <i>Missing translation</i>
    }
    else
    {
        <pre class="d-inline" id="translated-string">@Model.String.Translation</pre>
    }
</div>
@if (Model.UserIsLoggedIn && Model.String.Translation != null)
{
    <div>
        <button type="button" class="btn btn-sm btn-primary" data-string-action="copy-as-suggestion" data-string-action-target="translated-string">
            Copy as suggestion
        </button>
    </div>
}

@if (Model.String.Suggestions?.Count() > 0)
{
<table class="table mt-2">
    <thead>
        <tr>
            <th>Suggestion</th>
            <th>Approved By</th>
            <th>Created by</th>
            <th />
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var suggestion in Model.String.Suggestions)
        {
        <tr class="@(suggestion.State == StringSuggestionState.ApprovedByTrustedUser ? "table-success" : null)" data-suggestion-id="@suggestion.Id">
            <td><pre>@suggestion.Suggestion</pre></td>
            <td>
                @if (suggestion.LastStateUpdatedByName != null)
                {
                    <a
                        href="https://@Model.SiteDomain/users/@suggestion.LastStateUpdatedById"
                        target="_blank"
                    >
                        @suggestion.LastStateUpdatedByName
                    </a>
                }
            </td>
            <td>
                <a
                    href="https://@Model.SiteDomain/users/@suggestion.CreatedById"
                    target="_blank"
                >
                    @suggestion.CreatedByName
                </a>
            </td>
            <td>
                @if(Model.CurrentUserSuggested(suggestion))
                {
                    <button type="button" class="btn btn-sm btn-danger" data-string-action="delete-suggestion">
                        DELETE
                    </button>
                }
            </td>
            <td>
                @if(Model.CurrentUserSuggested(suggestion))
                {
                    <button type="button" class="btn btn-sm btn-danger js-replace-suggestion" data-string-action="replace-suggestion" disabled="disabled">
                        REPLACE
                    </button>
                }
            </td>

            <td>
                @if(Model.MustRenderSuggestionActionsFor(suggestion))
                {
                    <button type="button" class="btn btn-sm btn-success" data-string-action="review-suggestion" data-review-action="approve">
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" data-string-action="review-suggestion" data-review-action="reject">
                        <i class="fas fa-thumbs-down"></i>
                    </button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
}

@if(Model.UserCanSuggest)
{
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label htmlFor="suggestion" class="font-weight-bold">New Suggestion</label>
                <textarea class="form-control" id="suggestion" data-string-action="handle-suggestion-text-changed"></textarea>
            </div>
        </div>
    </div>
    <div>
        <div class="mt-1">
            <div class="btn-group" role="group">
                <button
                    type="button"
                    class="btn btn-primary float-left"
                    data-string-action="create-suggestion"
                    data-create-approved-suggestion="no"
                >
                    Send new suggestion
                </button>
                @if(Model.CanSendFinalTranslation)
                {
                    <button
                        type="button"
                        class="btn btn-warning float-left"
                        data-string-action="create-suggestion"
                        data-create-approved-suggestion="yes"
                    >
                        Send final translation
                    </button>
                }
            </div>
        </div>
    </div>
}
</div>
