@model Traducir.Web.Net.ViewModels.Home.StringSummaryViewModel

@{ 
    var approvedCount = Model.ApprovedSuggestionsCount;
    var pendingCount = Model.PendingSuggestionsCount;
}

<tr data-string-id="@Model.String.Id" class="@(Model.String.IsUrgent ? "table-danger" : Model.RenderAsChanged ? "table-success" : null)">
    <td>@Model.String.OriginalString</td>
    <td>
        @if(Model.String.Translation != null)
        {
            <text>@Model.String.Translation</text>
        }
        else if(Model.UserCanManageIgnoring)
        {
            if (Model.String.IsIgnored)
            {
                <button type="button" class="btn btn-warning btn-sm" data-string-action="stop-ignoring">Stop ignoring</button>
            }
            else
            {
                <button type="button" class="btn btn-warning btn-sm" data-string-action="ignore">Ignore!</button>
            }
        }
    </td>
    <td>
        @if (approvedCount > 0)
        {
            <span class="text-success">@approvedCount</span>
        }
        @if (approvedCount > 0 && pendingCount > 0)
        {
            <span> - </span>
        }
        @if(pendingCount > 0)
        {
            <span class="text-danger">@pendingCount</span>
        }
    </td>
</tr>